header {
	text-align: center;
	font-family: cursive;
}
td {
	border-top: 1px solid black;
	border-right: 1px solid black;
}
body {
	background-color: #99ccff;
}
table {
	border-bottom: 1px solid black;
	display: inline-block;
}
.first {
	border-left: 1px solid black;
	color: red;
}
img {
	height: 20em;
	display: inline-block;
	vertical-align: top;
	padding-top: 30px;
}