body {
	background-image: url(../imgs/body3.jpg);
	margin: 0;
	padding: 0;
}
header {
	display: block;
	width: 70%;
	margin-right: 30%;
}
@font-face {
	font-family: ababil;
	src: url(../fonts/ababil.ttf);
}
header h1 {
	font-family: ababil;
	text-align: center;
	color: #996633;
	font-size: 350%;
	padding-left: 30%;
}
nav {
	padding-top: .5em;
	padding-bottom: .5em;
	font: helvetica;
	padding-left: .5em;
}
.links {
	padding-left: .5em;
}
a:link {}
a:hover {
	color: #c83426;
	text-decoration: none;
}
a:visited {
	color: black;
}
#mainbodyl {
	height: 30em;
	width: 30%;
	display: inline-block;
	margin-top: .5em;
	overflow: auto;
	font: helvetica;
	margin-right: .5em;
	margin-left: .5em;
	text-indent: 1em;
}
#mainbodyr {
	height: 30em;
	width: 30%;
	display: inline-block;
	margin-top: .5em;
	overflow: auto;
	font: helvetica;
	text-indent: 1em;
}
aside {
	width: 13em;
	padding-left: 5px;
	border-left: 1px solid black;
	position: absolute;
	right: 0;
	top: 0;
	bottom: -3em;
}
footer {
	margin-top: 1em;
	padding-left: 5px;
}
h3 {
	text-align: center;
	font: helvetica;
}
.contimg {
	height: 5em;
	padding-left: 2.5em;
}
#aboutbody {
	height: 40em;
	width: 98%;
	background-color: black;
	margin-bottom: -1em;
	color: white;
	padding-top: 1px;
	padding-left: 2%;
}
div h2 {
	display: inline;
}
.aboutinfo {
	color: white;
}
span {
	color: blue;
}